@model IEnumerable<KpuLandryMachineMonitoring.Models.StudentUseState>
@{
    ViewData["Title"] = "Home Page";
}

<section id="user-list">
    @foreach (var studentUseState in Model)
    {
        <article class="user">
            @* 아이콘 삽입 위치 *@
            @* 건조기 여부 판별 *@
            @if (studentUseState.MachineID % 3 == 1)
            {
                <img src="~/images/dryer_machine.svg" alt="dryer machine image"/>
            }
            else
            {
                <img src="~/images/landry_machine.svg" alt="landry machine image"/>
            }
            <h2 class="user-name">@studentUseState.Name</h2>
            <p class="user-room-number">@(studentUseState.RoomNumber)호</p>
            <article class="user-phone-number-container">
                <p class="user-phone-number">@studentUseState.PhoneNumber.Substring(0, 3)</p>
                <p class="user-phone-number">@studentUseState.PhoneNumber.Substring(3, 4)</p>
                <p class="user-phone-number">@studentUseState.PhoneNumber.Substring(7, 4)</p>
            </article>
            <article class="user-time-container">
                <p class="user-time">@studentUseState.StartTime.ToString("hh:mm")</p>
                <p class="user-time">@studentUseState.EndTime.ToString("hh:mm")</p>
            </article>
        </article>
    }
</section>